.main {
  padding: 3rem 4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  color: hsl(200, 15%, 8%);
}
.container img {
  width: 400px;
}
.details {
  margin-top: 2rem;
}
.dark {
  color: white;
}
.details h1 {
  margin-bottom: 1.5rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid p {
  font-size: 18px;
  margin-bottom: 1rem;
}
.grid p span {
  font-weight: 600;
}

@media (max-width: 500px) {
  .main {
    padding: 3rem 2rem;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .grid {
  grid-template-columns: 1fr;
}
.second{
  margin-top: 2rem;
}
.container img {
  width: 300px;
}
.details h1 {
 font-size: 1rem;
}
.grid p {
  font-size: 16px;
  margin-bottom: 0.5rem;
}
}
