@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: #FAFAFA;
}
.body {
   font-family: 'Nunito Sans', sans-serif;
   background-color: #FAFAFA;
   min-height: 100vh;
}
.darkbody{
  background-color: hsl(207, 26%, 17%);
  color:white;
}
.center {
  margin-top:5rem;
  text-align: center;
}