.button {
  background-color: white;
  box-shadow: 0 0 6px #d3d3d3;
  padding: 0.5rem;
  border: none;
  margin-bottom: 3rem;
  width: 10%;
  border-radius: 2px;
  font-family: inherit;
}
.button i {
  margin-right: 1rem;
}
.darkBtn {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 4px 18px -12px hsl(207, 26%, 17%);
  color: white;
}

@media (max-width: 500px) {
  .button {
    width: 40%;
  }
}

@media (max-width:1024px) {
  
}
